# Folders log
mat_tree.egg-info
.vscode
classes/__py*
pages/__py*
scripts/__py*
*.pyc
scripts/algorithm/__pycache__/TreeNodeObject.cpython-39.pyc
scripts/algorithm/__pycache__/dashtree.cpython-39.pyc
scripts/metrics_evaluation/__pycache__/freq_matrix.cpython-39.pyc

# Folder data
#dataset
dataset/basometro/*
dataset.zip

# HTML Files 
src/*.html

# Other files
links_for_articles_literature.txt
images
path